{% extends "base.html" %}

{% block title %}
	归档 ｜ CodeBlock
{% endblock %}

{% load comments %}
{% block content %}
<div class="row">
	<div class="span5 offset2">
		<ul class="unstyled">
		    {% for article in latest %}
			{% get_comment_count for article as comment_count %}
		        <li>
		        	<a href="/{{article.id}}">
		        		{{ article.date_pub|date:"Y年n月j日" }}: {{ article.title }}
					</a>
					<span>({{comment_count}})</span>
				</li>
		    {% endfor %}
		</ul>
	</div>
</div>
{% endblock %}