{% load comments i18n %}

<form action="{% comment_form_target %}" method="post">
  {% csrf_token %}
  {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
  {% for field in form %}
    {% if field.is_hidden %}
      <div>{{ field }}</div>
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <p
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
          <label>
          	{% ifequal field.name "url" %}URL(可选填) <span class="{{field.name}} text-error"></span>{% endifequal %}
			{% ifequal field.name "name" %}名称(＊必填)<span class="{{field.name}} text-error"></span>{% endifequal %}
			{% ifequal field.name "email" %}邮箱(＊必填)<span class="{{field.name}} text-error"></span>{% endifequal %}
			{% ifequal field.name "comment" %}评论(＊必填)<span class="{{field.name}} text-error"></span>{% endifequal %}
		  </label>
		  {{ field }}
      </p>
    {% endif %}
  {% endfor %}
  <p class="submit">
     <input type="submit" name="post" class="submit-post btn btn-primary" value="发表评论" />
  </p>
</form>