<!doctype html>
<html>
<head>
	<title>页面出现错误｜CodeBlock</title>
	{% load staticfiles %}
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
	<link href="http://lib.sinaapp.com/js/bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="{% static 'site/css/error.css' %}" rel="stylesheet" />
	<script src="{% static 'site/js/error.js' %}"></script>
</head>
<body>
	<div>
	  	<center>
		<p class="text-info"><font size="20px">500</font></p>
		<p>页面出现错误</p>
		<a onclick="goBack()">返回原来页面</a>
		<p class="muted">
			<strong id="second"></strong>后返回
			<a href="/">首页</a>
		</p>
	 	</center>
	</div>
</body>
</html>